/******* Desktop *******/
@media (min-width: 1000px) {

    main {
        max-width: 1280px;
    }

    /* grid layouts */
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .grid_1-3 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2rem;
    }
    .grid_2-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
    .grid_5-3 {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-gap: 6rem;
    }

    .grid_2-3 {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .grid_3-2 {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 2rem;
    }
    .grid_1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    /* gallery grid */
    .grid_1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .grid_3-2 > div {
        overflow: auto;
    }

    /* fixed img height on Operativsystemer page */
    .grid_5-3 img{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    /* fix h2 vertical algnment to images in same row */
    .grid_3-2 h2:first-child,
    .grid_2-3 h2:first-child {
        margin-top: 0;
    }
    .grid_1-1 h2:first-child {
        margin-top: 0;
    }


    /* bind img height and width to grid size on gallery page */
    .grid_1-1-1-1 img {
        width:100%;
        height: 100%;
        object-fit: cover;
        padding-bottom: 0;
    }

    /* reverse order, takes a col 2 item to col 1 */
    .column-1 {
        order: -1;
    }

    /* image taking height of grid items in row */
    .full-height > div {
        height: 100%;
        overflow: hidden;
    }
    .full-height img{
        height: calc(100% + 2rem); /* remove ogly border */
        object-fit: cover;
    }


    dl{
         columns: 2;
    }
    dt {
         font-size: 1.5rem;
    }
    dd{
         font-size: 3.4rem;
    }

    /*  flex columns on komponenter - page */
    .flex_col {
        display:flex;
        flex-direction: column;
    }
    .flex_col img{
        height: 215px;
        object-fit: cover
    }
    .flex_col img:last-child {
        margin-top: auto;
        margin-bottom: 0;
    }

    /* make nav and footer text bigger on desktop */
    nav,
    footer {
        font-size: 1.5rem;
    }

    /* fix h2 in same row as h1, vertical alignment */
    .grid_1-3 .beside-h1 h2:first-child{
        margin-top: 2.75rem;
    }



    /* Gallery grid layout desktop*/
    .grid_col-3-4{
        grid-column: 3/ span 2;
    }
    .grid_col-2-4{
        grid-column: 2/ span 3;
    }
    .grid_col-1{
        grid-column: 1;
    }
    .grid_row-2{
        grid-row: 2;
    }
    .grid_row-3{
        grid-row: 3;
    }

}
